<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="gareth gwynn"/>
    <meta name="description" content="{{ page.description }}"/>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" type="text/css" href="/css/style.css" title="Default" />

</head>
<body>

    <header class="row">
        <div class="small-5 columns">
            <h6>GarethGwynn.com</h6>
        </div>
        <hr>
        <nav class="small-8 columns">
            <ul class="inline-list">
                <li><a href="/">Home</a></li>
                <li><a href="/biog/">Biog</a></li>
                <li><a href="/podcasts/">Podcasts &amp; Videos</a></li>
                <li><a href="/links/">Links</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="row">
        {{ content }}
    </main>

    <footer class="row">
        <hr>
        <ul class="right inline-list footer-list">
            <li><a href="http://twitter.com/garethgwynn">Gareth on Twitter</a></li>
            <li><a href="http://garethgwynn.blogspot.com/">Gareth's blog</a></li>
        </ul>
    </footer>
        
</body>
</html>
