<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="gareth gwynn"/>
    <meta name="description" content="{{ page.description }}"/>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" type="text/css" href="/css/garethgwynn.css" title="Default" />
    <link rel="alternate" type="application/atom+xml" title="Gareth's Blog - Atom" href="http://garethgwynn.blogspot.com/feeds/posts/default" />
    <script src="/js/modernizr.custom.js"></script>
</head>
<body>

    <header class="row">
        <div class="small-8 columns">
            <h6>Gareth Gwynn</h6>
            <h2>Comedy Writer, Presenter &amp; Producer</h2>
        <IMG SRC="images/GGSpaceSmall.jpg" ALIGN="right"/>        
        </div>
        <hr>
        <nav class="small-8 columns">
            <ul class="inline-list">
                <li><a href="/">Home</a></li>
                <li><a href="/cv/">CV</a></li>
                <li><a href="/podcasts/">Podcasts &amp; Videos</a></li>
                <li><a href="/links/">Links</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </header>


    <div class="main row">
        {{ content }}
    </div>

    <footer class="row">
        <ul class="right inline-list">
            <li><a href="http://twitter.com/garethgwynn">Gareth on Twitter</a></li>
            <li><a href="http://garethgwynn.blogspot.com/">Gareth's blog</a></li>
        </ul>
    </footer>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1800685-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</body>
</html>
