<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="keywords" content="gareth gwynn"/>
    <meta name="description" content="{{ page.description }}"/>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" media="screen" type="text/css" href="/css/garethgwynn.css" title="Default" />
    <link rel="alternate" type="application/atom+xml" title="Gareth's Blog - Atom" href="https://garethgwynn.blogspot.com/feeds/posts/default" />
    <script src="/js/modernizr.custom.js"></script>
</head>
<body>

    <header class="row">
        <div class="small-8 columns">
            <h6>Gareth Gwynn</h6>
            <h2>Comedy Writer, Presenter &amp; Producer </h2>
        </div>
        <hr>
        <nav class="small-8 columns">
            <ul class="inline-list">
                <li><a href="/">Home</a></li>
                <li><a href="/cv/">About</a></li>
                <li><a href="/podcasts/">Watch/Listen</a></li>
                <li><a href="/links/">Links</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </nav>
    </header>


    <div class="main row">
        {{ content }}
    </div>

    <footer class="row">
        <ul class="right inline-list">
            <!--<li><a href="https://twitter.com/garethgwynn">Gareth's Twitter</a></li>-->
            <li><a href="https://garethgwynn.blogspot.com/">News Archive</a></li>
        </ul>
    </footer>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MN0DNL611C"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-MN0DNL611C');
    </script>

</body>
</html>
